<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" rel="author" href="{{ site.baseurl }}">
            <img src="{{ site.baseurl }}/assets/img/logo-dragonlab.png" width="250" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.structure.sections %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
